web5/WebApplication5/Connected Services/Quotations/Quotation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stock" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="requested_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="response_Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddQuotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAllQuotations">
        <s:complexType />
      </s:element>
      <s:element name="ViewAllQuotationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAllQuotationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stock" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="requested_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="response_Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateQuotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:AddQuotation" />
  </wsdl:message>
  <wsdl:message name="AddQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:AddQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAllQuotationsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAllQuotations" />
  </wsdl:message>
  <wsdl:message name="ViewAllQuotationsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAllQuotationsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuotation" />
  </wsdl:message>
  <wsdl:message name="UpdateQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQuotationResponse" />
  </wsdl:message>
  <wsdl:portType name="QuotationSoap">
    <wsdl:operation name="AddQuotation">
      <wsdl:input message="tns:AddQuotationSoapIn" />
      <wsdl:output message="tns:AddQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllQuotations">
      <wsdl:input message="tns:ViewAllQuotationsSoapIn" />
      <wsdl:output message="tns:ViewAllQuotationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotation">
      <wsdl:input message="tns:UpdateQuotationSoapIn" />
      <wsdl:output message="tns:UpdateQuotationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuotationSoap" type="tns:QuotationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddQuotation">
      <soap:operation soapAction="http://tempuri.org/AddQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllQuotations">
      <soap:operation soapAction="http://tempuri.org/ViewAllQuotations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotation">
      <soap:operation soapAction="http://tempuri.org/UpdateQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuotationSoap12" type="tns:QuotationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddQuotation">
      <soap12:operation soapAction="http://tempuri.org/AddQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllQuotations">
      <soap12:operation soapAction="http://tempuri.org/ViewAllQuotations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotation">
      <soap12:operation soapAction="http://tempuri.org/UpdateQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Quotation">
    <wsdl:port name="QuotationSoap" binding="tns:QuotationSoap">
      <soap:address location="http://localhost:54419/Quotation.asmx" />
    </wsdl:port>
    <wsdl:port name="QuotationSoap12" binding="tns:QuotationSoap12">
      <soap12:address location="http://localhost:54419/Quotation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>